.comments {
  margin-top: 10px;
  padding: 20px;
  background: var(--post-bg);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  h2 {
    text-align: left;
    font-size: 1em;
    margin-top: 0;
  }
  .comment {
    margin-top: 5px;
    display: flex;
    .body {
      & > *:first-child {
        margin-top: 0;
      }
    }
    .collapse {
      flex-basis: 20px;
      flex-grow: 0;
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: var(--panel-bg);
      cursor: pointer;
      &:hover {
        color: var(--text-placeholder);
        .collapse-line {
          background: var(--text-placeholder);
        }
      }
      svg {
        height: 17px; // same as username height
      }
      .collapse-line {
        width: 2px;
        margin-top: -2px;
        height: calc(100% - 2px);
        background: var(--panel-bg);
      }
    }
    &.collapsed {
      background: #fafafa;
      background: var(--post-footer-bg);
      color: var(--text-dim);
      cursor: pointer;
      padding: 5px 0;
      &:hover {
        svg {
          color: var(--text-placeholder);
        }
        .collapse-line {
          background: var(--text-placeholder);
        }
      }
      .username {
        display: inline-block;
        color: #717171; //var(--text-dim);
        color: #acbacf;
        color: var(--text-dim);
      }
    }
    &.highlight {
      background: var(--quote-bg);
      border-radius: var(--border-radius);
    }
    .elements-wrapper {
      flex-basis: 100%;
      .footer {
        button {
          font-weight: bold;
          margin-right: 10px;
          color: var(--text-dim);
          &:hover {
            color: var(--text);
          }
          svg {
            margin-right: 5px;
          }
        }
      }
    }
  }
  .comment-form {
    margin-top: 5px;
    textarea {
      margin-top: 0;
      background: var(--input-bg-dark);
    }
    .btn {
      margin-top: 5px;
      float: right;
      width: 100px;
      background: var(--btn-cta);
      border: 1px solid var(--btn-cta);
      color: white;
      height: 32px;
      padding: 0;
    }
  }
}
