.comments {
  margin-top: 10px;
  padding: 20px;
  background: $post-bg;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  h2 {
    text-align: left;
    font-size: 1em;
    margin-top: 0;
  }
  .comment {
    margin-top: 5px;
    display: flex;
    .body {
      & > *:first-child {
        margin-top: 0;
      }
    }
    .collapse {
      flex-basis: 20px;
      flex-grow: 0;
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $panel-bg;
      cursor: pointer;
      &:hover {
        color: #acbacf;
        .collapse-line {
          background: #acbacf;
        }
      }
      svg {
        height: 17px; // same as username height
      }
      .collapse-line {
        width: 2px;
        margin-top: -2px;
        height: calc(100% - 2px);
        background: $panel-bg;
      }
    }
    &.collapsed {
      background: #fafafa;
      background: #f9f9f9;
      color: $text-dim;
      cursor: pointer;
      padding: 5px 0;
      &:hover {
        svg {
          color: #acbacf;
        }
        .collapse-line {
          background: #acbacf;
        }
      }
      .username {
        display: inline-block;
        color: #717171; //$text-dim;
        color: #acbacf;
        color: $text-dim;
      }
    }
    &.highlight {
      background: $quote-bg;
      border-radius: $border-radius;
    }
    .elements-wrapper {
      flex-basis: 100%;
      .footer {
        button {
          font-weight: bold;
          margin-right: 10px;
          color: $text-dim;
          &:hover {
            color: $text;
          }
          svg {
            margin-right: 5px;
          }
        }
      }
    }
  }
  .comment-form {
    margin-top: 5px;
    textarea {
      margin-top: 0;
    }
    .btn {
      margin-top: 5px;
      float: right;
      width: 100px;
      background: $btn-cta;
      border: 1px solid $btn-cta;
      color: white;
      height: 32px;
      padding: 0;
    }
  }
}
