.mailing-list {
  max-width: $wrapper-width;
  margin: auto;

  margin-top: 10px;
  padding: 20px;
  background: $post-bg;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  .form {
    margin-top: 5px;
  }
  input {
    height: 30px;
    float: left;
    width: calc(100% - 100px - 35px - 35px); //
    margin-top: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
    outline: none;
    color: $text;
    background: $input-bg; //#1a202a;
    // box-shadow: inset $box-shadow;
    // border: 1px solid $border;
    border: 1px solid $input-border;
    border-right:none;
    padding-left: 10px;
    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $text-dim;
      opacity: 1; /* Firefox */
    }
  }
  .btn-subscribe {
    height: 30px;
    float: left;
    width: 100px;
    background: $orange;
    border-radius: 0 $border-radius $border-radius 0;
    color: white;
    &.disabled {
      cursor: default;
      color: $text-dim;
    }
  }
  .btn-square {
    width: 30px;
    height: 30px;
    font-size: 18px;
    border-radius: $border-radius;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    margin-left: 5px;
    background: $orange;
    color: white;
    svg path {
      fill: white;
    }
  }
}
.subscribe-modal {
  input {
    width: calc(100% - 100px);
  }
}
.downloads-modal {
  .files {
    margin-top: 12px;
    .file {
      border: 1px solid rgb(102 115 153 / 30%); //$border;
      margin-top: -1px;
      line-height: 32px;
      padding: 6px 12px;
      .download {
        float: right;
        margin: 0;
        height: 32px;
        width: 140px;
        text-decoration: none;
        font-weight: normal;
      }
    }
  }
}

.showcase-boxes {
  // padding-bottom: 20px; // space to the bottom of the page
  .showcase-box {
    // no tags
    padding-bottom: 2px;
  }
}

.course-cta {
  h3 {
    border-bottom: none;
    margin: 0;
    text-align: center;
  }
  padding: 20px;
  background: $btn-bg;
  border: 1px solid $border;
  margin-top: 10px;
}
