// .thankyou {
//   font-size: 14px;
// }
.home-header {
  padding: 20px;
  margin-bottom: 10px; // space between header and subnav
  .btn {
    margin-right: 10px;
    margin-top: 20px;
  }
}
.mailing-list {
  max-width: var(--wrapper-width);
  margin: auto;

  margin-top: 10px;
  padding: 10px;
  background: var(--post-bg);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  .form {
    margin-top: 5px;
  }
  input {
    height: 30px;
    float: left;
    width: calc(100% - 100px - 35px - 35px); //
    margin-top: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
    outline: none;
    color: var(--text);
    background: var(--input-bg);
    // box-shadow: inset var(--box-shadow);
    // border: 1px solid var(--border);
    border: 1px solid var(--input-border);
    border-right:none;
    padding-left: 10px;
    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: var(--text-placeholder);
      opacity: 1; /* Firefox */
    }
  }
  .btn-subscribe {
    height: 30px;
    float: left;
    width: 100px;
    background: var(--btn-cta);
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    color: white;
    &.disabled {
      cursor: default;
      color: var(--text-dim);
    }
  }
  .btn-square {
    width: 30px;
    height: 30px;
    font-size: 18px;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    margin-left: 5px;
    background: var(--btn-cta);
    color: white;
    svg path {
      fill: white;
    }
  }
}
.subscribe-modal {
  input {
    width: calc(100% - 100px);
  }
}
.downloads-modal {
  .files {
    margin-top: 12px;
    .file {
      border: 1px solid rgb(102 115 153 / 30%); //var(--border);
      margin-top: -1px;
      line-height: 32px;
      padding: 6px 12px;
      .download {
        float: right;
        margin: 0;
        height: 32px;
        width: 140px;
        text-decoration: none;
        font-weight: normal;
      }
    }
  }
}

.showcase-boxes {
  display: grid;
  grid-gap: 10px;
  margin-top: 10px;
  grid-template-columns: repeat(3, 1fr);
  min-height: 130px;
  @media (max-width: 640px) {
    grid-template-columns: repeat(1, 1fr);
  }
  // padding-bottom: 20px; // space to the bottom of the page
  .showcase-box {
    padding: 0;
    margin-top: 0;
    border-radius: var(--border-radius);
    overflow: hidden;
    a {
      color: var(--text);
    }
    .description {
      padding: 2px 10px 2px 10px;
      color: var(--text);
      .title {
        font-weight: bold;
        color: var(--text);
        display: inline-block;
      }
    }
    // no tags
    padding-bottom: 2px;
  }
}

.course-cta {
  h3 {
    border-bottom: none;
    margin: 0;
    text-align: center;
  }
  padding: 20px;
  background: var(--btn-bg);
  border: 1px solid var(--border);
  margin-top: 10px;
}
