@font-face {
    font-family: "Open Sans";
    src: url("./fonts/OpenSans/OpenSans-Regular.ttf");
    // For the "Ensure text remains visible during webfont load" Google PageInsights Suggestion
    font-display: swap;
}
@font-face {
    font-family: "Open Sans";
    src: url("./fonts/OpenSans/OpenSans-Light.ttf");
    font-weight: 100;
    font-display: swap;
}
@font-face {
    font-family: "Open Sans";
    src: url("./fonts/OpenSans/OpenSans-Bold.ttf");
    font-weight: bold;
    font-display: swap;
}
// RPGA Font
@font-face {
    font-family: "RobotoSlab";
    src: url("./fonts/RobotoSlab/RobotoSlab-Black.ttf");
    font-display: swap;
}
@font-face {
    font-family: "RobotoSlab";
    src: url("./fonts/RobotoSlab/RobotoSlab-Light.ttf");
    font-weight: 100;
    font-display: swap;
}
@font-face {
    font-family: "RobotoSlab";
    src: url("./fonts/RobotoSlab/RobotoSlab-Bold.ttf");
    font-weight: bold;
    font-display: swap;
}
// For blockquotes
@font-face {
    font-family: "AlegreyaSans";
    src: url("./fonts/AlegreyaSansSC/AlegreyaSansSC-Bold.ttf");
    font-weight: bold;
    font-display: swap;
}

// Godot Font
@font-face {
    font-family: "RobotoSlab";
    src: url("./fonts/muli/Muli.ttf");
    font-display: swap;
}
@font-face {
    font-family: "muli";
    src: url("./fonts/muli/Muli-Light.ttf");
    font-weight: 100;
    font-display: swap;
}
@font-face {
    font-family: "muli";
    src: url("./fonts/muli/Muli-Bold.ttf");
    font-weight: bold;
    font-display: swap;
}

// SF Pro
// @font-face {
//     font-family: "SF Pro";
//     src: url("./fonts/SFPro/SF-Pro-Text-Regular.ttf");
//     // For the "Ensure text remains visible during webfont load" Google PageInsights Suggestion
//     font-display: swap;
// }
// @font-face {
//     font-family: "SF Pro";
//     src: url("./fonts/SFPro/SF-Pro-Text-Italic.ttf");
//     font-style: italic;
//     font-display: swap;
// }
// @font-face {
//     font-family: "SF Pro";
//     src: url("./fonts/SFPro/SF-Pro-Text-Bold.ttf");
//     font-weight: bold;
//     font-display: swap;
// }
