html {
  // For automatically smoothly scrolling to comments (and headers!)
  // Doesn't seem to impact mouse scrolling
  // Doesnt work because it impacts clicking on posts
  scroll-behavior: smooth;
}

html,
body {
  color: $text;
  background: $main-bg;
  font-family: $main-font;
  // font-weight: 100;
  font-weight: normal;
  margin: 0;
  height: 100%;
  font-size: $base-font-size;
}
#__next {
  height: 100%;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  cursor: -webkit-grabbing;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: $scrollbar-thumb;
  border: 2px solid transparent !important;
  border-radius: 4px;
  background-clip: content-box;
}

