html {
  // For automatically smoothly scrolling to comments (and headers!)
  // Doesn't seem to impact mouse scrolling
  // Doesnt work because it impacts clicking on posts
  // scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: overlay;
}

html,
body {
  color: var(--text);
  background: var(--main-bg);
  font-family: var(--main-font);
  font-size: var(--base-font-size);
  font-weight: normal;
  height: 100%;
}
#__next {
  height: 100%;
  // Margin-top on editor wrapper causes next to move down
  // https://stackoverflow.com/questions/1762539/margin-on-child-element-moves-parent-element
  display: flow-root;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  cursor: -webkit-grabbing;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background-color: var(--scrollbar-track);
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border: 2px solid transparent;
  border-radius: 4px;
  background-clip: content-box;
}
