.cta-header {
  background: url('/illustrations/first-person-shooter/landing-header.png');
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/illustrations/first-person-shooter/landing-header.png');
  background-size: cover;
  text-align: center;
  padding: 60px 0;
  @media (max-width: 500px) {
    padding: 40px 20px;
  }
  h1,
  h2 {
    color: white;
  }
  h1 {
    font-size: 2.35em;
  }
  h2 {
    font-size: 1em;
    font-weight: normal;
    font-weight: lighter;
  }
  position: relative;
  .btn-login {
    position: absolute;
    right: 20px;
    top: 20px;
    background: no-repeat;
    color: white;
    border: 1px solid white;
    svg {
      color: white;
      margin-left: 10px;
    }
    &:hover, &:active, &:focus {
      background: rgba(238, 238, 238, 0.1);
      color: white;
    }
    @media (max-width: 500px) {
      display: block;
      position: static; // default
      width: 240px;
      margin: auto;
      margin-top: 10px;
    }
  }
}

.btn-preview {
  color: white;
  border: 1px solid white;
  background: none;
  width: 240px;
  display:block;
  margin: auto;
  margin-top: 10px;
  svg {
    color: white;
    margin-left: 10px;
  }
  &:hover, &:active, &:focus {
    background: rgba(238, 238, 238, 0.1);
    color: white;
  }

}

.landing {
  background: $post-bg;
  max-width: 800px;
  margin: auto;
  .copy {
    font-size: 16px;
    padding: 40px;
    @media (max-width: 500px) {
      padding: 20px;
    }
    img {
      width: 100%;
    }
    h1,
    h2,
    h3 {
      text-align: center;
    }
  }
  .btn-preview-footer {
    color: $text;
    border: 1px solid $border;
    background: none;
    width: 240px;
    display:block;
    margin: auto;
    margin-top: 10px;
  }

}
footer {
  // background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/illustrations/hermione.jpg')
  background: $footer-bg;
}
