

header {
  background: $header-bg;
  box-shadow: $box-shadow;
  z-index: 10;
  position: relative; // so that box shadow stays on top
  padding: 8px 0; // 12px + 36px logo + 12px = total height of 56px
  box-sizing: border-box;
  .wrapper {
    max-width: $wrapper-width;
    margin: auto;
    padding: 0;
    min-width: 300px;
    // When screen size reaches the edges of content, I want some space between screen edges and elements in the header
    @media (max-width: $wrapper-width) {
      padding: 0 20px;
    }  
  }
  &.header-sidebar .wrapper {
    max-width: $wrapper-sidebar-width;
    @media (max-width: $wrapper-sidebar-width) {
      padding: 0 20px;
    } 
  }
  .logo {
    line-height: 32px;
    font-weight: lighter;
    width: 250px;
    display: block;
    float: left;
    font-family: $logo-font;
    font-size: 22px;
    color: $text;
    // text-transform: uppercase;
    .logo-bold {
      letter-spacing: -1px;
      font-weight: bold;
    }
    .logo-image,
    .logo-image img {
      width: 32px;
      height: 32px;
      float: left;
      margin-right: 10px;
      border-radius: 50%;
    }
  }

  nav {
    float: right;
    height: 32px;
    @media (max-width: 500px) {
      // display: none; // for now just hiding it
      float: left;
      width: 100%;
      margin-top: 5px;
      .btn-nav {
        float: left;
      }
      .dropdown {
        float: left;
      }
    }
  }
}

.layout {
  .content {
    margin: auto;
    max-width: $wrapper-width;
    @media (max-width: 1000px) {
      // padding: 0 20px;
    }
  }
}

.layout-sidebar {
  height: calc(100% - 48px - 2px); //minus header height minus orange line
  max-width: $wrapper-sidebar-width;
  margin: auto;
  display: flex;
  &.has-subnav {
    height: calc(100% - 54px - 32px);
  }
  .sidebar {
    // for flexbox
    width: 300px;
    min-width: 300px;
    background-color: $sidebar-bg;
    box-shadow: $box-shadow;
    border-right: 1px solid $border-dim;
    z-index: 7; // above dark-bg, below header. Also above other content to have box-shadow working
    height: 100%;
    overflow-x: hidden;
    overflow-y: overlay;
    @media (max-width: 800px) {
      display: none;
      &.open {
        display: block;
        position: fixed;
        height: calc(100% - 48px);
        width: 300px;
      }
    }
  }
  .content {
    flex: auto;
    height: 100%;
    overflow-x: hidden;
    overflow-y: overlay;
  }
}

// In Header
.header .toggle-sidebar-button {
  display:none;
}

.header-sidebar .toggle-sidebar-button {
  float: left;
  margin-right: 10px; // same as between the logo and title
  cursor: pointer;
  color: $text-dim;
  font-size: 24px;
  width: 24px; // icons are different widths
  text-align: center;
  line-height: 32px;
  display: none;
  @media (max-width: 800px) {
    display: block;
  }
}
// Under sidebar
.dark-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5; // above most things but below header
  display: none;
  &.open {
    display: block;
  }
}

footer {
  background: #181d25;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  color: $text-dim;
}

.error-page {
  background: $post-bg;
  padding: 40px;
  text-align: center;
}
