header {
  background: $header-bg;
  box-shadow: $box-shadow;
  z-index: 10;
  position: relative; // so that box shadow stays on top
  padding: 8px 0; // 12px + 36px logo + 12px = total height of 56px
  // border-top: 2px solid #ff6600;
  box-sizing: border-box;
  .wrapper {
    max-width: $wrapper-width;
    margin: auto;
    padding: 0;
    min-width: 300px;
    // When screen size reaches the edges of content, I want some space between screen edges and elements in the header
    @media (max-width: $wrapper-width) {
      padding: 0 20px;
    }
  }
  &.header-sidebar .wrapper {
    max-width: $wrapper-sidebar-width;
    @media (max-width: $wrapper-sidebar-width) {
      padding: 0 20px;
    }
  }
  .logo {
    line-height: 28px;
    font-weight: lighter;
    width: 200px;
    display: block;
    float: left;
    font-family: $logo-font;
    font-size: 22px;
    color: $text;
    // text-transform: uppercase;
    .logo-bold {
      letter-spacing: -1px;
      font-weight: bold;
    }
    .logo-image,
    .logo-image img {
      width: 32px;
      height: 32px;
      float: left;
      margin-right: 5px;
      border-radius: 50%;
    }
  }

  nav {
    float: right;
    height: 32px;
    .sorting {
      .menu,
      .menu-handle {
        width: 70px;
      }
    }
    @media (max-width: 500px) {
      // display: none; // for now just hiding it
      float: left;
      width: 100%;
      margin-top: 5px;
      .btn-nav {
        float: left;
        margin-left: 0;
        margin-right: 10px;
      }
      .dropdown {
        float: left;
      }
    }
  }
}
.tag-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  h1 {
    display: flex;
    align-items: center;
  }
  border-top: 3px solid $btn-cta;
  .btn {
    margin-left: 10px;
  }
}
.subnav {
  // margin-top: 10px;
  padding: 4px; //  10px 10px;
  background: white;
  background: #fafaf9; // $post-bg;
  .wrapper {
    max-width: $wrapper-width;
    margin: auto;
  }
  box-shadow: $box-shadow;
  // border-radius: $border-radius;
  .sorting,
  .period {
    .btn-nav {
      margin: 0;
      margin-right: 5px;
    }
    .menu,
    .menu-handle {
      width: 70px;
      .item {
        margin: 0;
      }
    }
  }
  .period {
    .menu,
    .menu-handle {
      width: 80px;
    }
  }
  .btn {
    margin-right: 5px;
    float: left;
    &.active {
      background: #697485;
      color: white;
      svg {
        color: white;
      }
    }
  }
  .separator {
    border-right: 1px solid $border;
    height: 100%;
    width: 0;
    margin: 4px 5px 4px 0;
    float: left;
    height: 24px;
  }
  .select-tag {
    width: 120px;
    margin-right: 5px;
    .menu {
      width: 120px;
    }
    .btn-nav {
      margin: 0;
    }
    input {
      margin: 0;
    }
  }
  .search-wrapper {
    width: 200px;
    float: right;
    position: relative;
    input {
      margin-top: 0;
      background: #f6f7f8;
    }
    svg {
      position: absolute;
      right: 10px;
      top: calc(50% - 7px);
      color: rgba($text-dim, 0.5);
    }
  }
}
.layout {
  .content {
    margin: auto;
    max-width: $wrapper-width;
    @media (max-width: 1000px) {
      // padding: 0 20px;
    }
  }
}

.layout-sidebar {
  height: calc(100% - 48px); //  - 2px minus header height minus orange line
  max-width: $wrapper-sidebar-width;
  margin: auto;
  display: flex;
  &.has-subnav {
    height: calc(100% - 54px - 32px);
  }
  .sidebar {
    // for flexbox
    width: 300px;
    min-width: 300px;
    background-color: $sidebar-bg;
    box-shadow: $box-shadow;
    border-right: 1px solid $border-dim;
    z-index: 7; // above dark-bg, below header. Also above other content to have box-shadow working
    height: 100%;
    overflow-x: hidden;
    overflow-y: overlay;
    @media (max-width: 800px) {
      display: none;
      &.open {
        display: block;
        position: fixed;
        height: calc(100% - 48px);
        width: 300px;
      }
    }
  }
  .content {
    flex: auto;
    height: 100%;
    overflow-x: hidden;
    overflow-y: overlay;
  }
}

// In Header
.header .toggle-sidebar-button {
  display: none;
}

.header-sidebar .toggle-sidebar-button {
  float: left;
  margin-right: 10px; // same as between the logo and title
  cursor: pointer;
  color: $text-dim;
  font-size: 24px;
  width: 24px; // icons are different widths
  text-align: center;
  line-height: 32px;
  display: none;
  @media (max-width: 800px) {
    display: block;
  }
}
// Under sidebar
.dark-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5; // above most things but below header
  display: none;
  &.open {
    display: block;
  }
}

footer {
  background: #181d25;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  color: $text-dim;
}

.error-page {
  background: $post-bg;
  padding: 40px;
  text-align: center;
}
