.purchase-modal {
  .stripe-card {
    outline: 1px solid $border; // border adds to height here for some reason, but not for inputs
    padding: 0 12px;
    margin-top: 10px;
    border-radius: $border-radius;
    box-sizing: border-box;
  }
  .discount {
    outline: none;
    &.success {
      border: 1px solid green;
    }
    &.fail {
      border: 1px solid red;
    }
  }
  .discount-offers {
    // font-size: 0.85em;
    color: #697386;
    ul {
      margin-top: 0;
    }
  }
}

// Purchase CTA
.post .content-locked {
  text-align: center;
  border: 1px solid $border;
  border-radius: $border-radius;
  padding: 40px;

  .btn-cta-landing {
    // because post's link styles override this.
    color: white;
    text-decoration: none;
  }
  .btn-login {
    display: block;
    width: 240px;
    margin: auto;
    margin-top: 10px;
    svg {
      color: white;
      margin-left: 10px;
    }
  }
}
