.post {
  min-height: 100%;
  padding: 20px;
  background: $post-bg;
  box-shadow: $box-shadow;
  font-size: 16px;
}

// Typography
.post {
  iframe {
    width: 100%;
  }
  img {
    max-width: 100%;
    max-height: 400px; // for tall narrow images
    margin: auto;
    display: block;
  }
  button {
    display: block;
    margin: auto;
    margin-top: 10px;
  }
}
// Purchase CTA
.post .content-locked {
  text-align: center;
  border: 1px solid $border;
  border-radius: $border-radius;
  padding: 40px;

  .btn-cta-landing {
    // because post's link styles override this.
    color: white;
    text-decoration: none;
  }
  .btn-login {
    display: block;
    width: 240px;
    margin: auto;
    margin-top: 10px;
    svg {
      color: white;
      margin-left: 10px;
    }
  }
}

.post {
  .post-header {
    margin: -20px -20px 0 -20px;
    width: calc(100% + 40px)!important; // important because I want to override react player's defaults
    max-width: calc(100% + 40px); // for images
  }
  position: relative;
  padding-bottom: calc(20px + 46px + 20px); // padding, height of prev-next, margin above prev-next
  .prev-next {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;

    margin-top: 5px;
    .prev,
    .next {
      padding: 12px;
      background: $btn-bg;
      text-decoration: none;
      &:hover {
        background: $btn-bg-hover;
      }
      border-radius: $border-radius;
      border: 1px solid $border;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: calc(50% - 2px);
      line-height: 20px;
      svg {
        height: 20px;
      }
    }
    .prev {
      float: left;
      text-align: right;
      svg {
        float: left;
        margin-right: 5px;
      }
    }
    .next {
      float: right;
      text-align: left;
      svg {
        float: right;
        margin-left: 5px;
      }
    }
    .blank {
      flex: 0 0 50%;
    }
  }
}
.chapters {
  .section {
    .section-title {
      margin-top: 20px;
      border-bottom: 1px solid $border-dim;
      padding: 8px 20px;
      color: $text-subheading;
      text-transform: uppercase;
      font-weight: bold;
    }
    .chapter {
      display: block;
      border-bottom: 1px solid $border-dim;
      padding: 8px 0px 8px 20px; // indentation on the right
      color: $text-dim;
      &.active {
        font-weight: bold;
        border-left: 2px solid $orange;
        color: $text-heading; //$text-link;
        background: $active-bg;
      }
      position: relative;
      .preview, .draft {
        position: absolute;
        right: 10px;
        top: 4px;
        font-size: 0.8em;
        height: 28px;
        line-height: 28px;
        background: #ff6600;
        color: white;
        background: #CAF5C9;
        color: #0B825D;
        padding: 0 8px;
        border-radius: $border-radius;
        font-weight: normal;
      }
      .draft {
        background: $panel-bg;
        color: $text-dim;
      }
    }
  }
}
