.post {
  min-height: 100%;
  padding: 40px 60px 50px 60px; // 30px footer + 20px
  @media (max-width: 640px) {
    padding: 20px 10px 40px 10px; // 30px footer + 20px
  }
  background: var(--post-bg);
  box-shadow: var(--box-shadow);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  overflow: hidden; // hide rounded footer corners
  font-size: 17px;
  text-align: justify;
  // Elements
  :first-child {
    margin-top: 0;
  }
  .post-header {
    margin: -40px -60px 0 -60px;
    // width: calc(100% + 80px)!important; // important because I want to override react player's defaults
    max-width: calc(100% + 120px); // for images
    max-height: none;
    @media (max-width: 640px) {
      margin: -20px -20px 0 -20px;
      width: calc(100% + 40px) !important; // important because I want to override react player's defaults
      max-width: calc(100% + 40px); // for images
    }
  }
  .h1-header {
    padding: 40px 60px;
    margin: -40px -60px 30px -60px;
    @media (max-width: 640px) {
      margin: -20px -20px 0 -20px;
      width: calc(100% + 40px) !important; // important because I want to override react player's defaults
      max-width: calc(100% + 40px); // for images
    }

    & + * {
      margin-top: 20px;
    }
    &.orange {
      background-image: linear-gradient(45deg, #d31f4d, #fab41e);
      color: white;
    }
    &.orange-pattern {
      background: url('/img/orange-triangles.jpg'), linear-gradient(45deg, #d31f4d, #fab41e);
      background-size: cover;
      color: white;
    }
    &.blue {
      background: #23284b;
      background-color: #4158d0;
      background-image: linear-gradient(184deg, rgba(39, 103, 187, 1) 10.4%, rgba(16, 72, 144, 1) 87.7%);
      color: white;
    }
    &.red {
      background: #ba2b27;
      background: linear-gradient(15deg, #93291e, #ba2b27);
      color: white;
    }
    &.purple {
      background-image: linear-gradient(-165deg, rgba(201, 37, 107, 1) 15.4%, rgba(116, 16, 124, 1) 74.7%);
      color: white;
    }
    &.indie-hackers {
      background-image: linear-gradient(-45deg, #e052a0, #f15c41);
      color: white;
    }
  }

  @media (max-width: 640px) {
    text-align: unset;
  }
  iframe {
    width: 100%;
  }
  img {
    display: block;
    max-width: 100%;
    max-height: 500px; // for tall narrow images
    margin: auto;
  }
  .image {
    margin: auto;
    position: relative;
    width: 100%;
    // .next-image {
    //   max-width: 100px!important;
    //   max-height: 100px!important;
    //   margin: auto;
    // }
    // height: 450px;
  }
  button {
    display: block;
    margin: auto;
    margin-top: 10px;
  }

  .collapsible {
    .title {
      font-size: 1em;
      font-weight: bold;
      border: 1px solid var(--border);
      background: var(--quote-bg);
      cursor: pointer;
      margin-top: 10px;
      padding: 4px 0;
      &.expanded {
        border-bottom: none; // 1px solid #e69a2867;
      }
      svg {
        margin: 0 5px;
        width: 16px !important;
      }
    }
    .body {
      border: 1px solid var(--border);
      background: var(--quote-bg);
      border-top: none;
      padding: 0 20px;
      *:first-child {
        margin-top: 0;
      }
    }
  }
  .columns {
    column-count: 2;
    @media (max-width: 640px) {
      column-count: 1;
    }
    column-gap: 40px;
    .col {
      break-inside: avoid;
      > :first-child {
        margin-top: 0;
      }
    }
    .column-break {
      break-after: column;
      @media (max-width: 640px) {
        break-after: auto;
      }
    }
  }
  position: relative;
  .post-footer {
    .tags {
      .tag {
        // Undo a styling
        font-weight: normal;
        text-decoration: none;
      }
    }
  }
  // For the MDX component, not used anymore
  .related-post {
    display: block;
    margin-top: 1em;
    padding: 10px 20px;
    background: var(--btn-bg);
    text-decoration: none;
    border-radius: var(--border-radius);
    border: 1px solid var(--border);
    font-size: 14px;
    &:hover {
      background: var(--btn-bg-hover);
    }
    h2 {
      text-align: left;
      margin: 0;
      font-size: 1em;
    }
    p {
      font-weight: normal; // Not sure why it's bold by default
    }
  }
}
.related-posts {
  margin-top: 10px;
  // background: var(--post-bg);
  // box-shadow: var(--box-shadow);
  // border-radius: var(--border-radius);
  // padding: 20px;
  .post-card {
    margin-top: 5px;
  }
  h2 {
    margin: 0;
    padding: 0 10px;
  }
  h2 {
    text-align: left;
    font-size: 1em;
    // @media (max-width: var(--wrapper-width) {
    //   padding: 0 20px);
    // }
  }
}
.course-post {
  // Prev-next
  position: relative;
  padding-bottom: calc(20px + 46px + 20px); // padding, height of prev-next, margin above prev-next
  .prev-next {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;

    margin-top: 5px;
    .prev,
    .next {
      padding: 12px;
      background: var(--btn-bg);
      text-decoration: none;
      &:hover {
        background: var(--btn-bg-hover);
      }
      border-radius: var(--border-radius);
      border: 1px solid var(--border);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: calc(50% - 2px);
      line-height: 20px;
      svg {
        height: 20px;
      }
    }
    .prev {
      float: left;
      text-align: right;
      svg {
        float: left;
        margin-right: 5px;
      }
    }
    .next {
      float: right;
      text-align: left;
      svg {
        float: right;
        margin-left: 5px;
      }
    }
    .blank {
      flex: 0 0 50%;
    }
  }
}
.chapters {
  .section {
    .section-title {
      margin-top: 20px;
      border-bottom: 1px solid var(--border-dim);
      padding: 8px 20px;
      color: var(--text-subheading);
      text-transform: uppercase;
      font-weight: bold;
    }
    .chapter {
      display: block;
      border-bottom: 1px solid var(--border-dim);
      padding: 8px 0px 8px 20px; // indentation on the right
      color: var(--text-dim);
      &.active {
        font-weight: bold;
        border-left: 2px solid var(--orange);
        color: var(--text-heading); //var(--text-link);
        background: var(--active-bg);
      }
      position: relative;
      .preview,
      .draft {
        position: absolute;
        right: 10px;
        top: 4px;
        font-size: 0.8em;
        height: 28px;
        line-height: 28px;
        background: #ff6600;
        color: white;
        background: #caf5c9;
        color: #0b825d;
        padding: 0 8px;
        border-radius: var(--border-radius);
        font-weight: normal;
      }
      .draft {
        background: var(--panel-bg);
        color: var(--text-dim);
      }
    }
  }
}
