.projects-header {
  text-align: center;
  padding: 40px 0;
  background: white url(/img/code-lines.png) no-repeat center;
  background-size: cover;
  color: white;
  .avatar {
    margin: auto;
    border-radius: 50%;
  }
  h1 {
    color: white;
    font-weight: normal;
    margin: 0;
  }
  .tagline,
  .email,
  .link {
    font-size: 1.3em;
  }
  .link {
    text-decoration: underline;
    display: block;
  }
  .cta {
    display: block;
    width: 200px;
    margin: auto;
    color: white;
    background: #f66303;
    padding: 10px 20px;
    border-radius: $border-radius;
    margin-top: 10px;
  }
}

.skills {
  color: #f66303;
  background: #1e2329;
  background: white url(/img/bg-no-frame.png) no-repeat center;
  background-size: cover;
  padding: 40px 0;
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 10px;
    .skill {
      text-align: center;
      flex-basis: calc(100% / 4 - 10px);
      margin-top: 20px;
      font-size: 0.9em;
      @media (max-width: 720px) {
        flex-basis: calc(100% / 2 - 10px);
      }
      @media (max-width: 640px) {
        flex-basis: calc(100%);
      }

      .skill-icon {
        color: white;
        background: #f66303;
        background: linear-gradient(to bottom, #ff6500, #f84200);
        border-radius: 50%;
        width: 100px;
        height: 100px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
      }
    }
  }
}

.projects {
  h2 {
    font-weight: normal;
  }
  .wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .project {
    flex-basis: calc(33.333% - 10px);
    margin: 5px;
    box-sizing: border-box;
    background: white;
    border: 1px solid rgba(98, 24, 24, 0.2);
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    overflow: hidden;
    @media (max-width: 820px) {
      flex-basis: calc(50% - 10px);
    }
    @media (max-width: 640px) {
      flex-basis: calc(100%);
    }
  
    h2 {
      color: rgb(61, 69, 75);
      font-size: 1.2em;
      font-weight: bold;
    }
    .description {
      padding: 10px;
      h2 {
        margin: 0;
      }
      p:first-of-type {
        margin-top: 0;
      }
      a {
        text-decoration: underline;
        font-weight: bold;
      }
      .title {
        text-decoration: none;
      }
    }
    // position: relative;
    // padding-bottom: 30px;
    // .footer {
    //   padding: 4px 15px 6px 15px;
    //   position: absolute;
    //   width: 100%;
    //   bottom: 0;
    //   background-color: #fcfcfc;
    //   border-top: 1px solid #e8e8e8;
    //   .tags {
    //     overflow: hidden;
    //     white-space: nowrap;
    //     // float: left;
    //   }
    //   .fab,
    //   .fas {
    //     float: right;
    //     margin: 4px;
    //   }
    //   .tag {
    //     background-color: #e7e7e7;
    //     font-weight: 100;
    //     font-size: 0.8em;
    //     padding: 0px 5px;
    //     margin-right: 5px;
    //     border-radius: $border-radius;
    //   }
    // }
  }
}




.projects-about-bg {
  background: white url(/img/macbook.png) no-repeat center;
  background-size: cover;
}

.projects-about {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 40px;
  font-size: 18px;
  text-align: justify;
  a {
    display: block;
    font-size: 1.5em;
    margin-top: 20px;
    margin-right: 20px;
    svg {
      margin-right: 10px;
      display: inline;
    }
  }
  .social-icons {
    display: flex;
    max-width: 350px;
    margin: auto;
  }
}
