.subscribe-landing {
  background: var(--main-bg);
  // For some reason form's top margin pushes the whole body down,
  // which adds a scrollbar. No idea why, but this fixes it.
  position: absolute;
  width: 100%;
  .form-card {
    box-shadow: var(--box-shadow);
    max-width: 560px;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 18px;
    font-weight: lighter;
    .header {
      background: var(--header-bg);
      border-radius: var(--border-radius);
      background-image: linear-gradient(45deg, #d31f4d, #fab41e);
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      padding: 20px 40px;
      .logo {
        width: 90px;
        height: 90px;
        margin: auto;
        margin-top: calc(-45px - 20px); // minus half height minus padding
        margin-bottom: -10px;
        // padding: 6px;
        border: 4px solid white;
        background: var(--post-bg);
        border-radius: 50%;
        overflow: hidden;
      }
      h1,
      p,
      a {
        color: white;
      }
      a {
        text-decoration: underline;
      }
      h1 {
        font-weight: bold;
      }
      p {
        margin-top: 0;
      }
      .subheader {
        font-size: 16px;
        margin-top: 10px;
      }
    }
    .description {
      background: var(--post-bg);
      border-radius: var(--border-radius);
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      padding: 20px 40px;
      text-align: left;
      p:first-child {
        margin-top: 0;
      }
      .form {
        margin-top: 10px;
        input {
          padding: 20px;
          float: left;
          width: calc(100% - 100px); //
          margin-top: 0;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          // Full-width
          width: 100%;
          border-radius: var(--border-radius);
          font-size: 16px;
          
          border: none;
          outline: none;
          box-shadow: inset var(--box-shadow);
          padding-left: 10px;
          &::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: var(--text-placeholder);
            opacity: 1; /* Firefox */
          }
        }
        .btn-subscribe {
          height: 40px;
          float: left;
          background: var(--orange);
          width: 100px;
          border-radius: 0 var(--border-radius) var(--border-radius) 0;
          // Full-width
          margin-top: 10px;
          width: 100%;
          border-radius: var(--border-radius);
          font-weight: bold;
          font-size: 16px;

          color: white;
          &.disabled {
            cursor: default;
            color: var(--text-dim);
          }
        }
      }
      .disclaimer {
        margin-top: 20px;
        // padding-top: 20px;
        // border-top: 1px solid var(--border);
        font-size: 0.8em;
        color: var(--text-dim);
      }
    }
  }
}
