h1,
h2,
h3,
h4,
h5 {
  margin-top: 1em;
  color: $text-heading;
  & + p,
  & + ul,
  & + img,
  & + blockquote {
    // first pagagraph after the header
    margin-top: 5px;
  }
}
h1,
h2 {
  text-align: center;
}
h1,
h2,
h3 {
  font-family: $headings-font;
  font-weight: bold;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.2em;
  // border-bottom: 1px solid $border;
  // color: $text-subheading;
  color: #d95650; //#DE544A;
  font-weight: bold;
}
h4 {
  font-size: 1em;
  font-weight: bold;
}
h5 {
  font-size: 1em;
}
// Header links
h1,
h2,
h3,
h4,
h5 {
  position: relative;
  .header-link {
    margin-right: 10px;
    visibility: hidden;
    cursor: pointer;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: left;
    height: 32px;
  }
  .header-link::after {
    content: ' ';
    font-weight: bold;
  }
  &:hover {
    .header-link {
      visibility: visible;
    }
  }
  a {
    font-weight: normal;
    text-decoration: none;
  }
}

p {
  margin-top: 1em;
}
a {
  cursor: pointer;
  color: $text-link;
  &:hover,
  &:active,
  &:focus {
    color: $text-link;
  }
  // svg path {
  //   fill: $text-link;
  // }
}

.post a {
  font-weight: bold;
  text-decoration: underline;
  color: $text;
}

b,
strong {
  font-weight: bold;
}
i,
em {
  font-style: italic;
}
ul {
  padding: 0;
  margin-top: 1em;
  margin-left: 20px;
}
ol {
  margin-top: 0.5em;
}
ol li {
  margin-top: 0.2em;
  margin-left: 1em;
}
// Magic that makes ordered list numbers left-aligned
// https://stackoverflow.com/questions/33219983/left-align-ol-numbers-with-the-heading-in-the-same-column
// ol {
//   list-style: none;
//   padding: 0;
// }
// ol li {
//   counter-increment: step-counter;
// }
// ol li:before {
//   content: counter(step-counter)". ";
// }

li p {
  margin-top: 0; // Sometimes it creates <p> inside of the li elements for some reason
}

hr {
  border: none;
  margin: 4px 0 4px 0;
  border-top: 1px solid $border;
}

blockquote {
  border-left: 3px solid $quote-border;
  background: $quote-bg;
  margin-top: 1em;
  padding: 10px;

  :first-child {
    margin-top: 0;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}
table,
th,
td {
  border: 1px solid $border;
  padding: 10px;
}
thead {
  background: #f1f8ff;
}
tbody tr:nth-child(even) {
  background: #f6f8fa;
}
