h1,
h2,
h3,
h4,
h5 {
  margin-top: 0.5em;
  color: $text-heading;
  & + p, & + ul, & + img {
    // first pagagraph after the header
    margin-top: 0px;
  }
}

h1 {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}
h2 {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
h3 {
  font-size: 1em;
  font-weight: bold;
  color: $text-subheading;
  // Gitbook
  font-size: 16px;
  font-weight: 700;
  // border-bottom: 1px solid #363e4d;
}
h4 {
  font-size: 1.2em;
}
h5 {
  font-size: 1em;
}
// Header links
h1,
h2,
h3,
h4,
h5 {
  position: relative;
  .header-link {
    margin-right: 10px;
    visibility: hidden;
    cursor: pointer;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: left;
    height: 32px;
  }
  .header-link::after {
    content: ' ';
    font-weight: bold;
  }
  &:hover {
    .header-link {
      visibility: visible;
    }
  }
  a {
    font-weight: normal;
    text-decoration: none;
  }
}

p {
  margin-top: 1em;
}
a {
  cursor: pointer;
  color: $text-link;
  &:hover,
  &:active,
  &:focus {
    color: $text-link;
  }
  // svg path {
  //   fill: $text-link;
  // }
}

.post a {
  font-weight: bold;
  text-decoration: underline;
  color: $text;
}

b,
strong {
  font-weight: bold;
}
i, em {
  font-style: italic;
}
ul {
  padding: 0;
  margin-top: 1em;
  margin-left: 20px;
}
ol {
  margin-top: 0.5em;
}
ol li {
  margin-top: 0.2em;
}
li p {
  margin-top: 0; // Sometimes it creates <p> inside of the li elements for some reason
}

hr {
  border: none;
  margin: 4px 0 4px 0;
  border-top: 1px solid $border;
}

blockquote {
  border-left: 3px solid $quote-border;
  background: $quote-bg;
  margin-top: 10px;
  padding: 10px;

  :first-child {
    margin-top: 0;
  }


}

table {
  width: 100%;
  border-collapse: collapse;
}
table,
th,
td {
  border: 1px solid $border;
  padding: 10px;
}
thead {
  background: #f1f8ff;
}
tbody tr:nth-child(even) {
  background: #f6f8fa;
}
