.profile-header {
  margin-top: 0;
  background-image: linear-gradient(45deg, #d31f4d, #fab41e);
  color: white;
  text-align: left;
  padding: 20px;
  color: white;
  h1 {
    color: white;
    margin-top: 0px;
    text-align: left;
  }
  .bio-links {
    margin-top: 10px;
    .bio-link {
      margin-right: 5px;
      color: rgba(255, 255, 255, 0.75);
      height: 20px; //make it more clickable
      width: 20px;
      &:hover {
        color: white;
      }
    }
  }
  .react-calendar-heatmap {
    width: 100%;
    font-size: 12px;
    margin-top: 10px;
    .react-calendar-heatmap-month-label {
      fill: white;
    }
    fill: white;
    rect {
      rx: 2px;
    }
    // border: 1px solid rgba(255, 255, 255, 0.1);
    .brightness-0 {fill-opacity: 0.075; fill: white; }
    .brightness-1 { fill-opacity:  0.15; }
    .brightness-2 { fill-opacity:  0.25; }
    .brightness-3 { fill-opacity:  0.35; }
    .brightness-4 { fill-opacity:  0.45; }
    .brightness-5 { fill-opacity:  0.55; }
    .brightness-6 { fill-opacity:  0.65; }
    .brightness-7 { fill-opacity:  0.75; }
    .brightness-8 { fill-opacity:  0.85; }
    .brightness-9 { fill-opacity:  0.95; }
    .brightness-10 { fill-opacity:  1; }
    // stroke: rgba(255, 255, 255, 0.1);
    .wrote {
      rx: 10px;
    }
    .win {
      // stroke: rgba(255, 255, 255, 0.75);
      // stroke-width: -1px;
      rx: 10px;
    }
  }
}
