.profile-header {
  margin-top: 0;
  background: url('/img/bg-no-frame.png');
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75)), url('/img/bg-no-frame.png'), #0D0F14;
  text-align: center;
  padding: 20px;
  color: white;
  .wrapper {
    max-width: var(--wrapper-width);
    margin: auto;
  }
  .avatar {
    img {
      border-radius: var(--border-radius);
    }
  }
  h1 {
    color: white;
    margin-top: 10px;
  }
  .buttons {
    float: right;
  }
  .btn-follow {
    margin: auto;
    margin-top: 10px;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: var(--border-radius);
    color: white;
    background: none;
    display: block;
    svg {
      color: white;
      margin-left: 10px;
    }
    &:hover,
    &:active,
    &:focus {
      background: rgba(238, 238, 238, 0.1);
      color: white;
    }
  }
  .bio-links {
    margin: auto;
    margin-top: 10px;
    .bio-link {
      margin: 0 5px;
      color: rgba(255, 255, 255, 0.75);
      height: 20px; //make it more clickable
      width: 20px;
      &:hover {
        color: white;
      }
    }
  }
}
